.header {
  opacity: 0.95;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 50px;
  background: var(--background-color);
  padding: 8px 16px 8px 26px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 1px solid var(--border-color);

  .title {
    font-weight: 400;
    font-size: 20px;
  }

  .nav {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .navWrapper {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  .navLink {
    color: var(--text-color);
    text-decoration: none;

    &:hover {
      color: $warning-color;
    }
  }

  .hamburger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    color: var(--text-color);
    cursor: pointer;
  }

  /* Responsive Styles */
  @media (max-width: $breakpoint-sm) {
    .hamburger {
      display: block;
    }

    .navWrapper {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 50px;
      left: 0;
      width: 100%;
      background: var(--background-color);
      padding: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      box-sizing: border-box;
    }

    .nav {
      flex-direction: column;
      gap: 15px;
    }

    /* Show menu when open */
    .navWrapper.open {
      display: flex;
    }
  }
}
