.header {
  opacity: 0.95;

  position: sticky;
  top: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 40px;
  background: var(--background-color);
  padding: 8px 48px;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  border-bottom: 1px solid var(--border-color);
  .nav {
    display: flex;
    gap: 20px;
    align-items: center;
  }

  .navWrapper {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
  }

  .navLink {
    color: var(--text-color);
    text-decoration: none;

    &:hover {
      color: $warning-color;
    }
  }

  .title {
    font-weight: 400;
    font-size: 20px;
  }

  :hover {
    color: rgb(255, 123, 0, 50%);
    transition: $transition-fast;
  }
}
