.card {
  background: var(--card-color);
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding: 18px;
  max-width: 250px;
  transition: box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 20vw; /* Ensures a proper aspect ratio */
  min-width: 20vw;
  position: relative;
  overflow: hidden;
  margin-top: 16px;
  margin: 0 14px;

  &:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.15);
  }
}

.galleryCard {
  margin: 24px;
  .card {
    min-height: 300px; /* Ensures a proper aspect ratio */
    min-width: 360px;
  }
}

.hasBackground {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.overlay {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  padding: 16px;
}

.header {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: auto; /* Pushes everything below it */
}

.body {
  font-size: 14px;
  color: var(--text-color);
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}

.footer {
  margin-top: 20px; /* Pushes the footer to the bottom */
  font-size: 20px;
  color: white;
  text-shadow:
    -1px -1px 0 rgba(0, 0, 0, 0.2),
    1px -1px 0 rgba(0, 0, 0, 0.2),
    -1px 1px 0 rgba(0, 0, 0, 0.2),
    1px 1px 0 rgba(0, 0, 0, 0.2);
}

.no-style {
  background: none;
  border-radius: none;
  box-shadow: none;
  padding: 18px;
  max-width: 600px;
}
